<div class="centered-content">
    <div class="content-box">
        <h1>Create a new list</h1>
        <input #newTitleList class="input" style="margin-top: 20px;" type="text" placeholder="Find a repository">
        <br><br>
        <div class="buttons is-right">
            <button class="button has-text-white has-background-danger" [routerLink]="['/']"> Cancel </button>
            <button class="button has-background-success has-text-white" (click)="createList(newTitleList.value)">Create</button>
        </div>

    </div>
</div>